/* basic configuration */
body{
    /*estilo de fuente gamer retro* */
   margin: 0;
   padding: 0;
   background: linear-gradient(100deg, rgb(26, 0, 172), rgb(212, 0, 255));
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   overflow-x: hidden;
   height: 100vh;
}

/* titulo */
h1{
   font-family: "Oswald", sans-serif; 
   text-align: center;
   font-size: 2rem;
   margin: 20px 0;
   color: white;
   text-shadow: 0px 4px 6px rgba(0, 0, 0, 1.9);
   padding: 20px;
    background-color: rgb(53, 0, 247);
   border-radius: 25px;
   
}

h1:hover {
  transform: scale(1.4);
}

/* slider's container */
.slider{
   position: relative;
   width: 38%;
   max-width: 1000px;
   overflow: hidden;
   border-radius: 20px;
   box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
   background: #0f172a;
}
/*slides container */
.slides{
    width: 100%;
   display: flex;
   transition: transform 0.2s ease-in-out;
   width: calc(100% * 6); /* number of images */
}

/* all diapositives */
.slide {
   width: 90%;
   max-width: 1000px;
   max-height: 1000px;
   overflow: hidden;
   border-radius: 20px;
   background: #a7173e; 
}

/* adjust the images inside of the galery */
.slide img {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 10px;
    object-fit: inherit;
}   


button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: rgba(0,0,0,0.7);
   color: yellow;
   border: none;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   font-size: 2rem;
   cursor: pointer;
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.3s, background 0.3s;
}

button:hover{
   background: #facc15;
   color: darkblue;
   transform: scale(1.2)
}

.prev{
   left: 15%;
}

.next{
   right: 15%;
}

.indicators{
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   gap: 15px;
}

.indicator{
   width: 12px;
   height: 12px;
   background: rgba(255, 255, 255, 0.5);
   border-radius: 50%;
   cursor: pointer;
   transition: background 0.3s;
}

.indicator.active{
   background: yellow;
   transform: scale(1.3);
}







 




 
